@page "/kanjileveldetail"

<div>
    <h2>Level @User.SelectedKanjiGroup.First().Level</h2>
    <div>
        <div class="headline">
            <label>Radicals</label>
        </div>
        <div class="list-items">
            @foreach (var item in User.SelectedKanjiGroup.Where(x => x.Type == KanjiType.Radical))
            {
                <div class="item-card radical" @onclick="() => ViewItem(item)">
                    <span class="item-character">@item.Item</span>
                    <span class="item-name">@item.Name</span>
                </div>
            }
        </div>
    </div>
    <div>
        <div class="headline">
            <label>Kanji</label>
        </div>
        <div class="list-items">
            @foreach (var item in User.SelectedKanjiGroup.Where(x => x.Type == KanjiType.Kanji))
            {
                <div class="item-card kanji" @onclick="() => ViewItem(item)">
                    <span class="item-character">@item.Item</span>
                    <span class="item-name">@item.Name</span>
                </div>
            }
        </div>
    </div>
</div>