@layout MainLayout
@page "/studyvocab"

@if (!Finished)
{
    @if (!ShowResults)
    {
        <form @onsubmit="SubmitAnswer">
            <h2>@CurrentCard.Word</h2>
    
            <div class="answer-area">
                <label class="label">Reading</label>
                <input type="text" id="reading" @bind="ReadingAnswer" />
            </div>
            <div class="answer-area">
                <label class="label">Definition</label>
                <input type="text" id="definition" @bind="DefinitionAnswer" />
            </div>

            <div>
                <button class="main-button" id="submit-answer" type="submit">Submit</button>
                <button class="main-button" @onclick="GiveUp">Give Up</button>
            </div>
    
            <span class="label">Attempts Remaining: @AttemptsRemaining</span>
            <span class="label">Cards Remaining: @StudyCards.Count</span>
        </form>
    }
    else
    {
        <form @onsubmit="ShowNextCard">
            @if (CurrentCard.Correct)
            {
                <h2>Correct!</h2>

                <h3>@CurrentCard.Word</h3>
                <span>@CurrentCard.OriginalFormatReading</span>
                <span>@CurrentCard.OriginalFormatDefinition</span>

                <button class ="main-button" id="correct-next" type="submit">Next</button>
            }
            else
            {
                <h2>Incorrect</h2>

                <h3>@CurrentCard.Word</h3>
                <span>@CurrentCard.OriginalFormatReading</span>
                <span>@CurrentCard.OriginalFormatDefinition</span>

                <span class="label">Your Answer: @ReadingAnswer</span>
                <span>@ReadingAnswer</span>
                <span>@DefinitionAnswer</span>

                <div>
                    <button class="main-button" id="incorrect-next" type="submit">Next</button>
                    <button class="main-button" @onclick="() => CurrentCard.Correct = true">Mark As Correct</button>
                </div>
            }
        </form>
    }
}
else
{
    <div class="complete">
        <h3>You've completed today's review!</h3>
        <button class="main-button" id="return" @onclick='() => ChangePage("/dashboard")'>Return To Dashboard</button>
    </div>
}