@layout MainLayout
@page "/unlocked"

<h2>Unlocked Words</h2>

<table>
    <thead>
        <tr>
            <th>
                Japanese
            </th>
            <th>
                Romaji
            </th>
            <th>
                Meaning
            </th>
            <th>
                Streak
            </th>
            <th>
                Next Review
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in TodaysWords)
        {
            <tr>
                <td>
                    @entry.Japanese
                </td>
                <td>
                    @entry.Pronounciation
                </td>
                <td>
                    @entry.Definitions
                </td>
                <td>
                    @entry.CorrectStreak
                </td>
                <td>
                    @HelperMethods.GetNextStudyDate(entry).ToShortDateString()
                </td>
                <td>
                    <button class="main-button" @onclick="() => ResetStreak(entry)">Reset Streak</button>
                </td>
            </tr>
        }
    </tbody>
</table>